<div class='product-details'>

  {{! Header }}
  <section>
    <h3><i>Author:</i> <br />{{@author}}</h3>
  </section>

  {{! Price }}
  <section class='h4'>
    {{#if (eq this.size "small")}}
    <i class='text-danger font-weight-bold'>{{currency 10}}</i>
    {{else if (eq this.size "medium")}}
    <i class='text-danger font-weight-bold'>{{currency 20}}</i>
    {{else if (eq this.size "large")}}
    <i class='text-danger font-weight-bold'>{{currency 30}}</i>
    {{else if (eq this.size "xlarge")}}
    <i class='text-danger font-weight-bold'>{{currency 40}}</i>
    {{/if}}
  </section>
  {{#if @isDetails}}
    <div class="d-flex align-items-center">
      <select name='sizes' id='sizes' {{on 'change' this.setSize}} class="btn btn-warning p-2 m-3">
        <option value='small'>Small</option>
        <option value='medium'>Medium</option>
        <option value='large'>Large</option>
        <option value='xlarge'>X-Large</option>
      </select>
      <button class='btn btn-info' type='button' {{on 'click' this.addToCart}}>
        <i class='fa fa-shopping-cart mr-1'></i>
        Add to cart
      </button>
    </div>
  {{/if}}
</div>