<GeneralContainer>
  <div class='product item-details-page {{if this.isZoomed "is-zoomed"}}'>
    <Product::Image
      @src={{this.productImage}}
      @toggleZoom={{this.toggleZoom}}
    />
    <Product::Details
      @isDetails={{true}}
      @author={{this.model.author}}
      @image={{this.model.download_url}}
      {{!-- @price=10 --}}
      {{!-- @price={{this.model.price}}
      @colors={{this.model.colors}} --}}
    />
  </div>
  <h5 class='mt-5'>Dimensions (Height X Width)</h5>
  <h6>{{this.model.height}} X {{this.model.width}}</h6>
  <h5>Download URL</h5>
  <a href={{this.model.download_url}} target="_blank" rel="noopener noreferrer">{{this.model.download_url}}</a>
</GeneralContainer>